#recopHtml()
<head>
	#recopHead('パスワードの変更')
	#css("$link.contextPath/css/security/passwordupdating.css")
	#javascript("$link.contextPath/js/security/updatingpass/dialog.js")
<script type="text/javascript">
$(document).ready(function(){
	prepareConfirmModDialog('$link.relative("/password/updating/execute")','$link.relative("/company/list")');
});
</script>
</head>
<body id="bidAppl">
  #recopHeaderOfLogoOnly
<hr />
<div  id="container">
<div class="pannel">
<div class="inner login">
<div class="content">
	<div class="ttlBlock">
		<h2 class="master">パスワードの変更</h2>
	</div><!--ttlBlock-->
	<form method="POST" id="updatingForm" name="updatingForm" action="#">
		<div class="passwordUpdateMessage">
			<p>新しいパスワードをご登録ください。</p>
		</div>
		<div class="form" class="passwordUpdateForm">
			#parse("security/updatingpass/form/form.vm")
		</div>
		<div class="passwordUpdateBtn">
			<a href="$link.relative("/company/list")" class="return">
				<img src="$link.contextPath/images/btnCancel.gif" style="margin-bottom:3px;" class="rollover" alt="企業選択"/>
			</a>
			<a href="#modalLoading" class="execute regist btnRegist noDialog" rel="group1">
				<img src="$link.contextPath/images/btnRevise.gif" width="268" height="39" alt="変更する" class="rollover"/>
			</a>
		</div>
		<a href="#modalSuccess" class="execute noDialog" rel="group1"></a>
	</form>
</div>
</div>
</div>
</div>
#recopFooter()
</body>
</html>
