#if( ${auth.user.passwordEffectivity.shouldBeAnnounced()} )
<div id="passwordExpiredAnnounce">
	<img src="$link.contextPath/images/icnRecopWarn_Minimum.gif" style="vertical-align:middle;"/>
	パスワードの有効期限が、あと${auth.user.passwordEffectivity.restOfEffectiveDays()}&nbsp;日で切れます。
</div>
#end
