#recopHtml()
<head>
	#recopHead('')
	#javascript("$link.contextPath/js/security/resettingpass/dialog.js")
<script type="text/javascript">
$(document).ready(function(){
	prepareConfirmModDialog("$link.relative('/password/resetting/execute')","$link.relative('/company/list')");
});
</script>
</head>
<body id="bidAppl">
  #recopHeaderOfLogoOnly
<hr />
<div  id="container">
<div class="pannel">
<div class="inner login">
<div class="content">
	<div class="ttlBlock">
		<h2 class="master">パスワードの変更</h2>
	</div><!--ttlBlock-->
	<form method="POST" id="resettingForm" name="resettingForm" action="#">
		<div style="width:600px;margin:0 auto;color:red;">
			<p>パスワードの有効期限が切れています。新しいパスワードをご登録ください。</p>
		</div>
		<div class="form" style="width: 600px; margin: 0 auto;">
			#parse("security/resettingpass/form/form.vm")
		</div>
		<div style="width: 600px; margin: 0 auto; margin-top: 30px; text-align: center;">
			<a href="#modalLoading" class="execute regist btnRegist noDialog" rel="group1">
				<img src="$link.contextPath/images/btnRevise.gif" width="268" height="39" alt="変更する" class="rollover" />
			</a>
		</div>
		<a href="#modalSuccess" class="execute noDialog" rel="group1"></a>
	</form>
</div>
</div>
</div>
</div>
#recopFooter()
</body>
</html>
