<h4>仕事情報</h4>
<table class="recoptable" summary="仕事情報">
	<col width="18%" /><col width="*" />
	<tr>
		<th>仕事内容</th>
		<td>
			#escape($newSingleOrderSheet.article.jobOffer.job.jobDescription.textAsInput)
		</td>
	</tr>
	<tr>
		<th>キャッチ</th>
		<td>
			#escape($newSingleOrderSheet.article.jobOffer.job.catchPhrase.textAsInput)
		</td>
	</tr>
	<tr>
		<th>リード</th>
		<td>
			#escape($newSingleOrderSheet.article.jobOffer.job.readPhrase.textAsInput)
		</td>
	</tr>
	<tr>
		<th>メリット</th>
		<td>
			#foreach($meritCode in $newSingleOrderSheet.article.jobOffer.job.meritIndexList.selected)
				$!{meritList.getName($meritCode)}&nbsp;
			#end
		</td>
	</tr>
	#parse("/advertisementorder/register/single/_parts/confirm/article/job_addition.vm")
</table>