<div class="actionArea">
	<div class="btns employ">
		<p class="revise">
			<a name="-" class="btnConf noDialog">
				<input type="image" src="$link.contextPath/images/btnConfirm.gif" width="268" height="39" alt="確認する" class="rollover" />
			</a>
		</p>
	</div>
</div>