<h3>原稿内容</h3>
<div class="section">
	<div id="jobOffer">
		#parse("/advertisementorder/modify/single/_parts/form/article/joboffer.vm")
	</div>
	#if(!$settings.formCustomize.messageOfSingleOrder.hide)
		<div id="messageOfSingleOrder">
			<table class="recoptable" >
				<col width="18%" /><col width="*" />
				<tr>
					<th><span class="labelWithImg">申送り事項</span>#requiredCustom( $settings.formCustomize.messageOfSingleOrder.required, 'class="needIcon"')</th>
					<td class="input">
						#springFormTextarea('editSingleOrderSheet.advertisementOrder.slips.remarks.message.text' 'cols="80" rows="7" class="regular"' )
						#errorMessages("editSingleOrderSheet.advertisementOrder.slips.remarks.message.text")
						<div>#escape( $settings.formCustomize.messageOfSingleOrder.description )</div>
					</td>
				</tr>
			</table>
		</div>
	#end
</div>


