#set($size = $editSingleOrderSheet.article.jobOffer.job.jobAdditionList.jobAdditions.size())
#if( $size != 0 )

<table class="recoptable" summary="仕事情報補足">
<col width="18%" /><col width="*" />

#foreach($jobAddition in $editSingleOrderSheet.article.jobOffer.job.jobAdditionList.jobAdditions)
#set($number = $foreach.index+1)
	<tr>
		<th class="a-lt" #if($size == $number)rowspan="2"#end>仕事情報補足$number</th>
		<td>
			<table summary="layout" class="innerTable regular">
				<col width="6%" /><col width="*" />
				<tr>
					<td>見出し</td>
					<td>
						#escape( $!{jobAddition.jobTitle.text} )
					</td>
				</tr>
				<tr>
					<td>本文</td>
					<td>
						#escape( $!{jobAddition.jobDescription.text} )
					</td>
				</tr>
			</table>
		</td>
	</tr>
#end
</table>
#end