#set($size = $editSingleOrderSheet.article.jobOffer.recruitment.advertiseAdditionList.list.size())
#if( $size != 0 )
<table class="recoptable" summary="募集要項補足">
<col width="18%" /><col width="*" />

#foreach($advertiseAddition in $editSingleOrderSheet.article.jobOffer.recruitment.advertiseAdditionList.list)
#set($number = $foreach.index+1)
	<tr>
		<th class="a-lt" #if($size == $number)rowspan="2"#end>募集要項補足$number</th>
		<td>
			<table summary="layout" class="innerTable regular">
				<col width="6%" /><col width="*" />
				<tr>
					<td>見出し</td>
					<td>
						#escape( $!{advertiseAddition.title.text} )
					</td>
				</tr>
				<tr>
					<td>本文</td>
					<td>
						#escape( $!{advertiseAddition.description.text} )
					</td>
				</tr>
			</table>
		</td>
	</tr>
#end
</table>
#end