<div id="supportInfo">
    <div class="wrap">
            <p class="title">リクオプサービスセンター</p>
            <div>
                <p>
                    電話番号　03-3548-8601
                </p>
                <p>
                    メールアドレス　recop@hr-s.co.jp
                </p>
                <p>
                    受付時間　平日　9:00～18:00
                </p>
                <p>
                    メールでのお問い合わせは<a href="mailto:recop@hr-s.co.jp">こちら</a>
                </p>
            </div>
    </div>
</div>