<h3>原稿内容</h3>
<div class="section">
	#parse("/advertisementorder/register/joint/_parts/confirm/article/jobs.vm")
	#if(!$settings.formCustomize.messageOfJointOrder.hide)
	<table class="recoptable" >
		<col width="18%" /><col width="*" />
		<tr>
			<th><span class="labelWithImg">申送り事項</span></th>
			<td>
				#escape( $newJointOrderSheet.advertisementOrder.slips.remarks.message.text )
			</td>
		</tr>
	</table>
	#end
</div>